<a href="https://colab.research.google.com/github/Sanskriti3/DataScienceBootcamp/blob/main/ClassNotes/21AUG2023_OOPs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
flt1 = 3.1415
print(type(flt1))

<class 'float'>

In [ ]:
class university_student:
  def student_info():

In [ ]:
obj1 = university_student()
obj1.student_info()

In [ ]:
class university_student:
  def __init__(self, fname, mname, lname, gender, email, contact):
    pass

In [ ]:
obj1 = university_student('kin', 'Zen', "Anto", 'm', 'kin.anto@gmail.com', 9876)

In [ ]:
print(type(obj1))

<class '__main__.university_student'>

In [ ]:
class university_student:
  def __init__(self, fname, mname, lname, gender, email, contact):
    self.fname= fname
    self.mname= mname
    self.lname= lname
    self.gender= gender
    self.email= email
    self.contact = contact
    print(self.fname, self.mname, self.lname, self.gender, self.email, self.contact)

In [ ]:
obj1 = university_student('kin', 'Zen', "Anto", 'm', 'kin.anto@gmail.com', 9876)

kin Zen Anto m kin.anto@gmail.com 9876

In [ ]:
class toyota:
  def __init__(self, model, year):
    self.model = model
    self.year= year
    print(self.model, self.year)

In [ ]:
obj_car = toyota("Corolla", 2013)

Corolla 2013

In [ ]:
class university_student:
  def __init__(self, fname, mname, lname, gender, email, contact):
    self.fname= fname
    self.mname= mname
    self.lname= lname
    self.gender= gender
    self.email= email
    self.contact = contact

  def stud_detail(self):
    print(self.fname, self.mname, self.lname, self.gender, self.email, self.contact)

In [ ]:
obj1 = university_student('kin', 'Zen', "Anto", 'm', 'kin.anto@gmail.com', 9876)
obj1.stud_detail()

kin Zen Anto m kin.anto@gmail.com 9876

In [ ]:
class toyota:
  def __init__(self,model, year):
    self.model = model
    self.year= year
    print(self.model, self.year)

In [ ]:
obj_car = toyota("300", 89)

300 89

In [ ]:
class car:
  def __init__(self, name, model, fuel, cc, cylinders):
    self.name= name
    self.model= model
    self.fuel = fuel
    self.cc = cc
    self.cylinders= cylinders

  def car_details(self):
    print(self.name, self.model, self.fuel, self.cc, self.cylinders)

In [ ]:
obj1= car("Audi003", "alpha", "electric", 250, 12 )
obj1.car_details()

Audi003 alpha electric 250 12

![animal kingdom classification.png]()

In [ ]:
#ggrandparents
class animal_kingdom:
  pass
#grand parents
class vertebrates(animal_kingdom):
  pass
class invertebrates(animal_kingdom):
  pass
#parent
class amphibian(vertebrates):
  pass
class reptile(vertebrates):
  pass
class avian(vertebrates):
  pass
class mammal(vertebrates):
  pass
class fishes(vertebrates):
  pass
#child
class dog(mammal):
  pass
class cat(mammal):
  pass
class cow(mammal):
  pass

Tuesday Aug 22, 2023

In [ ]:
class person:
  def __init__(self,fname,lname):
    self.firstname= fname
    self.lastname = lname

  def printname(self):
    print(self.firstname,' ', self.lastname)

In [ ]:
obj1 = person('Sanskriti', 'Parajuli')

In [ ]:
obj1.printname()

Sanskriti   Parajuli

In [ ]:
#creating child class

class person:
  def __init__(self,fname,lname):
    self.firstname= fname
    self.lastname = lname

  def printname(self):
    print(self.firstname,' ', self.lastname)

In [ ]:
class childclass(person):
  pass

In [ ]:
obj2 = childclass('Sanskriti', 'parajuli')

In [ ]:
obj2.printname()

Sanskriti   parajuli

In [ ]:
class person:
  def __init__(self,fname,lname):
    self.firstname= fname
    self.lastname = lname

  def printname(self):
    print("parent class " ,self.firstname,' ', self.lastname)

In [ ]:
class childclass(person):
  def __init__(self,fname,lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print("class childclass(person): ", self.firstname, self.lastname)

In [ ]:
obj1 = childclass('Sanskriti', 'Parajuli')

In [ ]:
obj1.printname()

class childclass(person):  Sanskriti Parajuli

In [ ]:
class person:
  def __init__(self,fname,lname):
    self.firstname= fname
    self.lastname = lname

  def printname(self):
    print("parent class person: " ,self.firstname,' ', self.lastname)

In [ ]:
class childclass(person):
  def __init__(self,fname,lname):

    self.firstname = fname
    self.lastname= lname

In [ ]:
obj1= childclass('Sanskriti', 'Parajuli')

In [ ]:
obj1.printname()

parent class person:  Sanskriti   Parajuli

In [ ]:
class car:
  def __init__(self,model,year):
    self.model= model
    self.year = year


class toyota(car):
  def __init__(self,model,year,cc):
    self.model = model
    self.year=year
    self.cc=cc

  def printcar(self):
    print("class toyota: ", self.model, ' ', self.year,' ', self.cc)
obj1 = toyota('corolla', 2012, 120)
obj1.printcar()

class toyota:  corolla   2012   120

In [ ]:
#performing operations
class person:
  def __init__(self,fname,lname):
    self.firstname= fname
    self.lastname = lname

  def printname(self):
    print("parent class person: " ,self.firstname,' ', self.lastname)

In [ ]:
class Student(person):
  def __init__(self, fname, lname):
    super().__init__(fname,lname)

In [ ]:
obj1 = Student('Sanskriti', 'Parajuli')

In [ ]:
obj1.printname()

parent class person:  Sanskriti   Parajuli

In [ ]:
class car:
  def __init__(self, name, model):
    self.name = name
    self.model = model

In [ ]:
class audi(car):
  def __init__(self,name,model,make):
    super().__init__(name,model)
    self.make = make
  def print_details(self):
    print('audi car: ', self.name, self.model,self.make)

In [ ]:
obj1 = audi('audi500', 'z', 1978)
obj1.print_details()

audi car:  audi500 z 1978

In [ ]:
class Animal:
  def __init__(self,name,breed,age):
    self.name = name
    self.breed = breed
    self.age = age

In [ ]:
class Dog(Animal):
  def __init__(self,name,breed,age,weight,fur_color):
    super().__init__(name,breed,age)
    self.weight = weight
    self.fur_color = fur_color

  def print_details(self):
    print('My Dog: ', self.name, self.breed, self.age, self.weight, self.fur_color)

In [ ]:
obj1 = Dog('Pakkun', 'Golden Retreiver', '10 weeks', 25, 'Cream')
obj2 = Dog('Hero', 'Husky', '2 years', 55, 'Black')

obj1.print_details()
obj2.print_details()

My Dog:  Pakkun Golden Retreiver 10 weeks 25 Cream
My Dog:  Hero Husky 2 years 55 Black

8/23/2023 wednesday

In [ ]:
#introduction to inheritance

#multiple_inheritance

class mother:
  def __init__(self):
    pass
class father:
  def __init__(self):
    pass
class daughter(mother,father):
  def __init__(self):
    pass

class son(mother,father):
  def __init__(self):
    pass

In [ ]:
#implementation

class roots:
  def __init__(self,root_type):
    self.root_type = root_type


class shoot:
  def __init__(self,shoot_type):
    self.shoot_type = shoot_type


class herb(roots, shoot):
  def __init__(self,root_type,shoot_type,plant_height):
    self.root_type = root_type
    self.shoot_type = shoot_type
    self.plant_height = plant_height

  def print_value_herb(self):
    print("herb: " ,self.root_type, self.shoot_type, self.plant_height)

class shurb(roots, shoot):
  def __init__(self,root_type,shoot_type,plant_height):
    self.root_type = root_type
    self.shoot_type = shoot_type
    self.plant_height = plant_height

  def print_value(self):
    print("Shurb: ",self.root_type, self.shoot_type, self.plant_height)

In [ ]:
obj1 = herb('tap root', 'annual', 12.5)
obj1.print_value_herb()

herb:  tap root annual 12.5

In [ ]:
class a:
  var_a1 = 'This ia my first print statement inside class a . It is class variable'
  def __init__(self):
    self.var_a2 = '2nd print statement inside function __init__ of class a'
    self.var_a1 = "Instance variable in class a"
    self.var_tmp1 = "This is var_tmp1 inside class a"

class b(a):
  var_b1 = "this is my third print statement inside class b "
  def __init__(self):

    self.var_b2 = "This is my fouth print statement inside function __init__ of class b"
    self.var_a1 = "Instance variable in class b"
    self.var_tmp1 = "This is var_tmp1 inside class b"
    super().__init__()

In [ ]:
obj_a = a()
obj_b = b()


print(obj_a.var_a1)
print(obj_a.var_tmp1)
print(obj_b.var_a1)
print(obj_b.var_a2)
print(obj_b.var_b1)
print(obj_b.var_b2)
print(obj_b.var_tmp1)

Instance variable in class a
This is var_tmp1 inside class a
Instance variable in class a
2nd print statement inside function __init__ of class a
this is my third print statement inside class b
This is my fouth print statement inside function __init__ of class b
This is var_tmp1 inside class a

In [ ]:
class vehical:
  wheels = 4
  def __init__(self):
    self.fuel = 'Petrol'
    self.wheels = 12
    self.seats = 2

class car(vehical):
  brand = "BMW "
  def __init__(self):

    self.color = "yellow"
    self.wheels = 8
    self.seats = 5
    super().__init__()

In [ ]:
obj_vehical = vehical()
obj_car = car()


print(obj_vehical.wheels)
print(obj_vehical.seats)
print(obj_car.wheels)
print(obj_car.fuel)
print(obj_car.brand)
print(obj_car.color)
print(obj_car.seats)

12
2
12
Petrol
BMW
yellow
2

aug 24, 2023 thursday

topics for today:
1. Overloading
2. Over ridding
3. Operator over loading
4. polymorphism (multiple forms )
5. Encapsulation

In [ ]:
print(10+12)

22

In [ ]:
print(3.145+3.145)

6.29

In [ ]:
print('python'+ 'programming')

pythonprogramming

In [ ]:
print([12,23,34,45]+[56,67,78,89])

[12, 23, 34, 45, 56, 67, 78, 89]

In [ ]:
l = 'python programming'

print(len(l))

l= [12,23,34,45,56,67,78,89,90]

print(len(l))

l=(11,22,33,44,55,66,77,88,99,110)

print(len(l))

l = {'a':'apple',
     'b':'banana',
     'c':'cherries'}
print(len(l))

18
9
10
3

In [ ]:
class person:
  def __init__(self,fname,mname,lname):
    pass
  def print_details(self):
    print(self.fname, self.mname, self.lname)

class student(person):
  def __init__(self,fname,mname,lname):
    pass
  def print_details(self):
    print(self.fname,self.mname,self.lname)

In [ ]:
#polymorphism example
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [ ]:
class vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print('move!!')

class Car(vehicle):

  def move(self):
    print("Drive!")

class Boat(vehicle):

  def move(self):
    print("Sail!")

class Plane(vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for i in (car1,boat1,plane1):
  print(i.brand)
  print(i.model)
  i.move()

Ford
Mustang
Drive!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

In [ ]:
class my_pets:
  def __init__(self, name, legs,action,loves):
    self.name = name
    self.legs = legs
    self.action = action
    self.loves = loves

  def sound(self):
    print('sound')

class dog(my_pets):
  def sound(self):
    print("Woof!")

class cat(my_pets):
  def sound(self):
    print("Meow!")

class bird(my_pets):
  def sound(self):
    print("chirp!")

dog1 = dog("Pakun, my lovely boy", 4, "bites", "squeaky toy")
cat1 = cat("tiger, my spicy girl", 4, "scratches",  "nobody")
bird1 = bird("Ari, my talkative kid", 2, "pecks", "blueberries")

for k in (dog1,cat1,bird1):
  print(k.name)
  print(k.legs)
  print(k.action)
  print(k.loves)
  k.sound()
  print()

Pakun, my lovely boy
4
bites
squeaky toy
Woof!

tiger, my spicy girl
4
scratches
nobody
Meow!

Ari, my talkative kid
2
pecks
blueberries
chirp!

for loop  iterate