day 3 aug 09 2023

Data types
1. Standard data type
  a) numbers
    i) interger : Any whole number +ve or -Ve
    ii) Float : Any combination of whole number and fractional number (+ve or -ve)
    iii) complex num : combination of interger or float and imaginary numbers (+ve or -ve) integer of float is called complex. eg: 2+3j
  b) Text
    i) Boolean : True and False
    ii) String:
    any combination inside single quotes
    any combination inside double quotes
    any combination inside triple single quotes
    any combination inside triple double quotes
  c) Data structure
    i) List:
      * list is represented by square bracket []
      * list is mutable
    ii) Tuple:
      * tuple is represented by parenthesis ()
      * tuple is immutable
    iii) Set:
      * set is combination of unique values
      * set is collection of unordered elemets aka ramdom and removes repeated value
      * set is represented by {}
      * set is mutable
    iv) Dictonary:

In [ ]:
cmplx1 = 2+3j
print (cmplx1)
print(type(cmplx1))

(2+3j)
<class 'complex'>

In [ ]:
bool1 = True
print(bool1)
print(type(bool1))

True
<class 'bool'>

In [ ]:
stmt1= "I like 'python'. I enjoy it. "
stmt2 = 'Very "boring" day. Its raining.'
print(stmt1)
print(stmt2)
print(stmt1 + stmt2)

I like 'python'. I enjoy it.
Very "boring" day. Its raining.
I like 'python'. I enjoy it. Very "boring" day. Its raining.

In [ ]:
lst1 = [1,2,3,4]
print(lst1)
print(type(lst1))

[1, 2, 3, 4]
<class 'list'>

In [ ]:
tup1 = (1,2,3,4,5)
print(tup1)
print(type(tup1))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
set1= {'a', 'b','c', 'D', 1,2,3,'!','#',3,1,'a','!'}
print(set1)
print(type(set1))

{1, 2, 3, '!', '#', 'b', 'a', 'D', 'c'}
<class 'set'>

In [ ]:
lst2 = [3, 4.45, 3, 'python', True, '!!',"#"]
print(lst2)
print(type(lst2))

[3, 4.45, 3, 'python', True, '!!', '#']
<class 'list'>

In [ ]:
tup2 = (3, 4.45, 3, 'python', True, '!!',"#")
print(tup2)
print(type(tup2))

(3, 4.45, 3, 'python', True, '!!', '#')
<class 'tuple'>

In [ ]:
set2 = {3, 4.45, 3, 'python', True, 0,1, '!!',"#"}
print(set2)
print(type(set2))

{0, True, 3, 4.45, 'python', '#', '!!'}
<class 'set'>

In [ ]:
dict1 = {'a' : 'apple',
         'b': 'banana',
         'c': 'cherry'}
print(dict1)
print(type(dict1))

{'a': 'apple', 'b': 'banana', 'c': 'cherry'}
<class 'dict'>

In [ ]:
dict2 = {'lst3': [3, 4.45, 3, 'python', True, '!!',"#"],
         'tup3' : (3, 4.45, 3, 'python', True, '!!',"#"),
         'set3': {3, 4.45, 3, 'python', True, 0,1, '!!',"#"}}
print(dict2)
print(type(dict2))

{'lst3': [3, 4.45, 3, 'python', True, '!!', '#'], 'tup3': (3, 4.45, 3, 'python', True, '!!', '#'), 'set3': {0, True, 3, 4.45, 'python', '#', '!!'}}
<class 'dict'>

In [ ]:
str1= 'Venkatanarasimharajuvaripeta'
print(str1)
print(type(str1))
print(len(str1))
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[4])
print(str1[5])
print(str1[6])
print(str1[7])

Venkatanarasimharajuvaripeta
<class 'str'>
28
V
e
n
k
a
t
a
n

In [ ]:
str1= 'Generals'
print(str1)
print(type(str1))
print(len(str1))
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[4])
print(str1[5])
print(str1[6])
print(str1[7])

Generals
<class 'str'>
8
G
e
n
e
r
a
l
s

In [ ]:
str1= 'Venkatanarasimharajuvaripeta'

In [ ]:
str1[0:7:1], str1[7:16:1], str1[16:28:1]

('Venkata', 'narasimha', 'rajuvaripeta')

In [ ]:
str1= 'dallastexastospringdale'
print(len(str1))
print(str1[0:6:1], str1[6:11:1], str1[11:13:1])
str1[13:23:1]

23
dallas texas to

'springdale'

In [ ]:
str1 = 'SrinivasaRamanujanAiyanagar'
str1[::]

'SrinivasaRamanujanAiyanagar'

In [ ]:
str1[0::], str1[:len(str1):], str1[::1], str1[:9:], str1[9:18:], str1[18::]

('SrinivasaRamanujanAiyanagar',
 'SrinivasaRamanujanAiyanagar',
 'SrinivasaRamanujanAiyanagar',
 'Srinivasa',
 'Ramanujan',
 'Aiyanagar')

In [ ]:
str1= 'dallastexastospringdale'
str1[0::], str1[:len(str1):], str1[::1], str1[:6:], str1[6:11:], str1[11:13:] ,str1[13::]

('dallastexastospringdale',
 'dallastexastospringdale',
 'dallastexastospringdale',
 'dallas',
 'texas',
 'to',
 'springdale')

Thursday Aug 10, 2023

string slicing and indexing

In [ ]:
str1 = 'Peppa prefer Python Programming'
str1[0:5:1], str1[6:12:1], str1[13:19:1], str1[20:31:1]

('Peppa', 'prefer', 'Python', 'Programming')

In [ ]:
str1= 'SrinivasaRamanujanAiyanagar'
str1[::1]
str1[::-1]

'raganayiAnajunamaRasavinirS'

In [ ]:
str1[-1:-9:-1], str1[-9:-18:-1], str1[-18::-1]

('raganayi', 'Anajunama', 'RasavinirS')

In [ ]:
str1 = 'Peppa prefer Python Programming'
str1[-1:-12:-1], str1[-12:-19:-1], str1[-19:-26:-1], str1[-26::-1]

('gnimmargorP', ' nohtyP', ' referp', ' appeP')

In [ ]:
str1= 'Venkatanarasimharajuvaripeta'
str1[-1:-9:-1], str1[-9:-13:-1], str1[-13:-22:-1], str1[-22::-1]

('atepirav', 'ujar', 'ahmisaran', 'atakneV')

In [ ]:
#positive indexing negative slicing
str1= 'VenkataNarasimhaRajuvaripeta'
str1[6::-1], str1[15:6:-1], str1[27:15:-1]

('atakneV', 'ahmisaraN', 'atepiravujaR')

In [ ]:
str1 = 'Peppa prefer Python Programming'
str1[5::-1], str1[11:5:-1], str1[18:12:-1], str1[30:18:-1]

(' appeP', 'referp', 'nohtyP', 'gnimmargorP ')

In [ ]:
#negative indexing positive slicing
str1= 'SrinivasaRamanujanAiyanagar'
str1[-27:-18:1], str1[-18:-9:1], str1[-9::1]

('Srinivasa', 'Ramanujan', 'Aiyanagar')

In [ ]:
str1= 'VenkataNarasimhaRajuvaripeta'
str1[-28:-21], str1[-21:-12], str1[-12::1]

('Venkata', 'Narasimha', 'Rajuvaripeta')

In [ ]:
lst1 = ['apple', 'banana', 'cherries', 'dates', 'fig', 'grapes', 'honeyfruit', 'icefruit']
print(lst1)
print(type(lst1))

['apple', 'banana', 'cherries', 'dates', 'fig', 'grapes', 'honeyfruit', 'icefruit']
<class 'list'>

In [ ]:
lst1[0], lst1[1], lst1[2], lst1[3], lst1[4], lst1[5], lst1[6], lst1[7]

('apple',
 'banana',
 'cherries',
 'dates',
 'fig',
 'grapes',
 'honeyfruit',
 'icefruit')

In [ ]:
lst1[::]
lst1[0::]
lst1[:len(lst1):]
lst1[::1]

lst1[0: len(lst1): 1]
lst1[::-1]

lst1[-1::-1]


lst1[9::-1]
lst1[-9::1]

['apple',
 'banana',
 'cherries',
 'dates',
 'fig',
 'grapes',
 'honeyfruit',
 'icefruit']

In [ ]:
lst1=['Canada', 'Nepal', 'India', 'China', 'Chile', 'Peru', 'Japan', 'Korea', 'Cuba', 'Mexico']
print(lst1[::])
print(lst1[0::])
print(lst1[:len(lst1):])
print(lst1[::1])

print(lst1[0: len(lst1): 1])
print(lst1[::-1])

print(lst1[-1::-1])


print(lst1[10::-1])
print(lst1[-10::1])

['Canada', 'Nepal', 'India', 'China', 'Chile', 'Peru', 'Japan', 'Korea', 'Cuba', 'Mexico']
['Canada', 'Nepal', 'India', 'China', 'Chile', 'Peru', 'Japan', 'Korea', 'Cuba', 'Mexico']
['Canada', 'Nepal', 'India', 'China', 'Chile', 'Peru', 'Japan', 'Korea', 'Cuba', 'Mexico']
['Canada', 'Nepal', 'India', 'China', 'Chile', 'Peru', 'Japan', 'Korea', 'Cuba', 'Mexico']
['Canada', 'Nepal', 'India', 'China', 'Chile', 'Peru', 'Japan', 'Korea', 'Cuba', 'Mexico']
['Mexico', 'Cuba', 'Korea', 'Japan', 'Peru', 'Chile', 'China', 'India', 'Nepal', 'Canada']
['Mexico', 'Cuba', 'Korea', 'Japan', 'Peru', 'Chile', 'China', 'India', 'Nepal', 'Canada']
['Mexico', 'Cuba', 'Korea', 'Japan', 'Peru', 'Chile', 'China', 'India', 'Nepal', 'Canada']
['Canada', 'Nepal', 'India', 'China', 'Chile', 'Peru', 'Japan', 'Korea', 'Cuba', 'Mexico']

In [ ]:
tup1=('Canada', 'Nepal', 'India', 'China', 'Chile', 'Peru', 'Japan', 'Korea', 'Cuba', 'Mexico')
print(tup1[::])
print(tup1[0::])
print(tup1[:len(tup1):])
print(tup1[::1])

print(tup1[0: len(tup1): 1])
print(tup1[::-1])

print(tup1[-1::-1])
print(tup1[4:10])
print(tup1[6:1:-1])
print(tup1[10::-1])
print(tup1[-10::1])

('Canada', 'Nepal', 'India', 'China', 'Chile', 'Peru', 'Japan', 'Korea', 'Cuba', 'Mexico')
('Canada', 'Nepal', 'India', 'China', 'Chile', 'Peru', 'Japan', 'Korea', 'Cuba', 'Mexico')
('Canada', 'Nepal', 'India', 'China', 'Chile', 'Peru', 'Japan', 'Korea', 'Cuba', 'Mexico')
('Canada', 'Nepal', 'India', 'China', 'Chile', 'Peru', 'Japan', 'Korea', 'Cuba', 'Mexico')
('Canada', 'Nepal', 'India', 'China', 'Chile', 'Peru', 'Japan', 'Korea', 'Cuba', 'Mexico')
('Mexico', 'Cuba', 'Korea', 'Japan', 'Peru', 'Chile', 'China', 'India', 'Nepal', 'Canada')
('Mexico', 'Cuba', 'Korea', 'Japan', 'Peru', 'Chile', 'China', 'India', 'Nepal', 'Canada')
('Chile', 'Peru', 'Japan', 'Korea', 'Cuba', 'Mexico')
('Japan', 'Peru', 'Chile', 'China', 'India')
('Mexico', 'Cuba', 'Korea', 'Japan', 'Peru', 'Chile', 'China', 'India', 'Nepal', 'Canada')
('Canada', 'Nepal', 'India', 'China', 'Chile', 'Peru', 'Japan', 'Korea', 'Cuba', 'Mexico')